# $Id$
#
#
ICP Register
{
	Name		Message Of The Day
	Version		1.0
	Description	Message of the day system.

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	// Script	cmdlevel	path
	
	// TextCmd	cmdlevel	path
	TextCmd		Player	:motd:commands/player/motd
}
