# $Id$
#
#

ICP Register
{
	Name		Teleporters
	Version		1.0

	Description	Handles the teleporter tiles.

	Creator		Austin Heilman
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com
	
	// Script	cmdlevel	path
	Script		Admin	:teleporters:initializer/firstRun

	// TextCmd	cmdlevel	path
	TextCmd		Seer	:teleporters:commands/seer/maketele
	TextCmd		Admin	:teleporters:commands/admin/removeteleporters
	TextCmd		Admin	:teleporters:commands/admin/setupteleporters
}
