# $Id$
#
#

Elem	WeaponHitScripts
{
	//Script 	Name		Path
	Script		FireHit		:combat:weaponHitScripts/FireHit
	Script		IceHit		:combat:weaponHitScripts/IceHit
	Script		LightningHit	:combat:weaponHitScripts/LightningHit
}

Elem	ArmorHitScripts
{

}