# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		Loot
	Version		1.0
	Description	Used to control loot generating.

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Austin
	M_Email		AustinHeilman@gmail.com

	// Script	cmdlevel	path
}