# $Id: pkg.cfg 1376 2006-05-13 02:44:32Z austin $
#
#
Enabled		1
Name		moongates

Version		1.0

CoreRequired	96

Creator		Austin Heilman
Email		AustinHeilman@gmail.com

Maintainer	Distro Team
Email		distro@polserver.com

#Requires	none
#Conflicts	none
