# $Id: icp.cfg 684 2005-10-27 18:48:28Z muaddiblsd $
#
#
ICP Register
{
	Name		Death
	Version		1.0
	Description	Handles the scripts for player and npc deaths.

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	#Script	cmdlevel path

	#TextCmd	cmdlevel path
	TextCmd		2	:death:commands/seer/resurrect
}
