##########################################
# Bewitched
##########################################

NPCTemplate BewitchedArmor
{
        Name        a bewitched armor
        Script      :brainAI:brain
	Category    Bewitched

        ObjType     0x20f
        Color       1089
        TrueColor   1089
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	210
	Intelligence	110
	Dexterity	110

	HITS	200
	MANA	110
	STAM	100

	ResistingSpells	70
	Tactics	100
	Wrestling	140

	AttackDamage	6d6
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat

	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

        LootIndex               7

        CProp           PermPoisonProtection    i10
}

NPCTemplate BewitchedBardiche
{
        Name        a bewitched bardiche
        Script      :brainAI:brain
	Category    Bewitched

        ObjType     0x266
        Color       1089
        TrueColor   1089
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	210
	Intelligence	110
	Dexterity	110

	HITS	200
	MANA	110
	STAM	100

	ResistingSpells	70
	Tactics	100
	Wrestling	140

	AttackDamage	6d6
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat

	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

        LootIndex               8

        CProp           PermPoisonProtection    i10
}

NPCTemplate BewitchedGauntlets
{
        Name        a bewitched gauntlets
        Script      :brainAI:brain
	Category    Bewitched

        ObjType     0x212
        Color       1089
        TrueColor   1089
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	210
	Intelligence	110
	Dexterity	110

	HITS	200
	MANA	110
	STAM	100

	ResistingSpells	70
	Tactics	100
	Wrestling	140

	AttackDamage	6d6
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat

	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

        LootIndex               9

        CProp           PermPoisonProtection    i10
}

NPCTemplate BewitchedSpear
{
        Name        a bewitched spear
        Script      :brainAI:brain
	Category    Bewitched

        ObjType     0x272
        Color       1089
        TrueColor   1089
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	210
	Intelligence	110
	Dexterity	110

	HITS	200
	MANA	110
	STAM	100

	ResistingSpells	70
	Tactics	100
	Wrestling	140

	AttackDamage	6d6
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat

	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

        LootIndex               10

        CProp           PermPoisonProtection    i10
}

NPCTemplate BewitchedSword
{
        Name        a bewitched sword
        Script      :brainAI:brain
	Category    Bewitched

        ObjType     0x283
        Color       1089
        TrueColor   1089
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	210
	Intelligence	110
	Dexterity	110

	HITS	200
	MANA	110
	STAM	100

	ResistingSpells	70
	Tactics	100
	Wrestling	140

	AttackDamage	6d6
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat

	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

        LootIndex               11

        CProp           PermPoisonProtection    i10
}

NPCTemplate BewitchedWarHammer
{
        Name        a bewitched war hammer
        Script      :brainAI:brain
	Category    Bewitched

        ObjType     0x286
        Color       1089
        TrueColor   1089
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	210
	Intelligence	110
	Dexterity	110

	HITS	200
	MANA	110
	STAM	100

	ResistingSpells	70
	Tactics	100
	Wrestling	140

	AttackDamage	6d6
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat

	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

        LootIndex               12

        CProp           PermPoisonProtection    i10
}
