# $Id: startloc.cfg 869 2006-10-05 03:21:10Z austinheilman $
#
# Purpose:
# Defines the starting locations for new clients.
# They *must* be in this order to match the character creation screens in the UO client:
# Yew, Minoc, Britain, Moonglow, Trinsic, Magincia, Jhelom, Skara Brae, Vesper
#
# Structure:
# StartingLocation
# {
#   City(string CityName)
#   Description(string Description)
#   Coordinate(int x),(int y),(int z)
# }
#
# Explanation:
# CityName and Description	are sent to the client! No larger than 30 characters please.
# x,y,z is where the character will be placed after created.
# You could set all the locations to the same coordinate to force players to start in one town.


StartingLocation Yew
{
	City		Yew
	Description	Town Center
	Coordinate	5227,1182,0
}

StartingLocation Minoc
{
	City		Minoc
	Description	East Bridge
	Coordinate	5227,1182,0
}

StartingLocation Britain //Main Town
{
	City		Britain
	Description	Castle Britania
	Coordinate	5227,1182,0
}


StartingLocation Moonglow
{
	City		Moonglow
	Description	Docks
	Coordinate	5227,1182,0
}

StartingLocation Trinsic
{
	City		Trinsic
	Description	West Gate
	Coordinate	5227,1182,0
}

StartingLocation Magincia
{
	City		Magincia
	Description	Docks
	Coordinate	5227,1182,0
}

StartingLocation Jhelom
{
	City		Jhelom
	Description	Docks
	Coordinate	5227,1182,0
}

StartingLocation Skara Brae
{
	City		Skara Brae
	Description	Docks
	Coordinate	5227,1182,0
}

StartingLocation Vesper
{
	City		Vesper
	Description	Docks
	Coordinate	5227,1182,0
}

