##########################################
# Ettin
##########################################

NPCTemplate Ettin1
{
        Name        an ettin
        Script      :brainAI:brain
	Category    Ettin

        ObjType     0x02
        Color       33784
        TrueColor   33784
        Gender      0

        RunSpeed    50
	MoveMode    L
	Alignment   evil

	Strength	140
	Intelligence	25
	Dexterity	90

	HITS	5d10+75
	MANA	15
	STAM	120

	Tactics	100
	Wrestling	120

	AttackDamage	5d8+20
	AttackAttribute	Wrestling

	AISetting	AreaSize	i12
	AISetting	FleeLevel	i0
	AISetting	OpenDoors	i1

	AIScripts	genericCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    rawrib         5
 
        LootIndex               20
        MagicLevel              1

	CProp           Type    	sGiantkin
}

NPCTemplate Ettin2
{
        Name        an ettin
        Script      :brainAI:brain
	Category    Ettin

        ObjType     0x12
        Color       33784
        TrueColor   33784
        Gender      0

        RunSpeed    50
	MoveMode    L
	Alignment   evil

	Strength	140
	Intelligence	25
	Dexterity	90

	HITS	5d10+75
	MANA	15
	STAM	120

	Tactics	100
	Wrestling	120

	AttackDamage	8d10+25
	AttackAttribute	Wrestling

	AISetting	AreaSize	i12
	AISetting	FleeLevel	i0
	AISetting	OpenDoors	i1

	AIScripts	genericCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    rawrib         5

        LootIndex               20
        MagicLevel              1

	CProp           Type    	sGiantkin
}
