# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#

ICP Register
{
	Name            Text Commands
	Version         1.0
	Description     Main Package for Text Commands.

	Creator         Distro Team
	C_Email         distro@polserver.com

	Maintainer      *Edwards
	M_Email         Edwards@FantasiaShard.com

	// Script	cmdlevel	path
}
