# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		Data File
	Version		2.0
	Description	Include for handing data files.

	Creator		Austin Heilman
	C_Email		AustinHeilman@gmail.com
	
	Maintainer	Austin Heilman
	M_Email		AustinHeilman@gmail.com

	// Script	cmdlevel	path
}
