# $Id: icp.cfg 684 2005-10-27 18:48:28Z muaddiblsd $
#
#
ICP Register
{
	Name		Data File
	Version		2.0
	Description	Include for handing data files.

	Creator		Austin Heilman
	C_Email		AustinHeilman@gmail.com
	Maintainer	Austin Heilman
	M_Email		AustinHeilman@gmail.com

	#Script	cmdlevel path

	#TextCmd	cmdlevel path
}
