#######################################################
###          Small Boat - 0x4000 to 0x4003          ###
#######################################################
# Small Boat Facing North
Boat
{
    ObjType 0x4000
    TillerMan                   0x3e4e 1 4
    PortGangplankExtended       0x3ed5 -2 0
    PortGangplankRetracted      0x3eb1 -2 0
    StarboardGangplankExtended  0x3ed4 2 0
    StarboardGangplankRetracted 0x3eb2 2 0
    Hold                        0x3eae 0 -4
}

# Small Boat Facing East
Boat
{
    ObjType 0x4001
    TillerMan                   0x3e55 -4 0
    PortGangplankExtended       0x3e89 0 -2
    PortGangplankRetracted      0x3e8a 0 -2
    StarboardGangplankExtended  0x3e84 0 +2
    StarboardGangplankRetracted 0x3e85 0 +2
    Hold                        0x3e65 4 0
}

# Small Boat Facing South
Boat
{
    ObjType 0x4002
    TillerMan                   0x3e4b 0 -4
    PortGangplankExtended       0x3ed4 +2 0
    PortGangplankRetracted      0x3eb2 +2 0
    StarboardGangplankExtended  0x3ed5 -2 0
    StarboardGangplankRetracted 0x3eb1 -2 0
    Hold                        0x3eb9  0 4
}

# Small Boat Facing West
Boat
{
    ObjType 0x4003
    TillerMan                   0x3e50 +4 0
    PortGangplankExtended       0x3e84 0 2
    PortGangplankRetracted      0x3e85 0 2
    StarboardGangplankExtended  0x3e89 0 -2
    StarboardGangplankRetracted 0x3e8a 0 -2
    Hold                        0x3e93 -4 0
}


#######################################################
###       Small Dragon Boat - 0x4004 to 0x4007      ###
#######################################################
# Small Dragon Boat Facing North
Boat
{
    ObjType 0x4004
    TillerMan                   0x3e4e 1 4
    PortGangplankExtended       0x3ed5 -2 0
    PortGangplankRetracted      0x3eb1 -2 0
    StarboardGangplankExtended  0x3ed4 2 0
    StarboardGangplankRetracted 0x3eb2 2 0
    Hold                        0x3eae 0 -4
}

# Small Dragon Boat Facing East
Boat
{
    ObjType 0x4005
    TillerMan                   0x3e55 -4 0
    PortGangplankExtended       0x3e89 0 -2
    PortGangplankRetracted      0x3e8a 0 -2
    StarboardGangplankExtended  0x3e84 0 +2
    StarboardGangplankRetracted 0x3e85 0 +2
    Hold                        0x3e65 4 0
}

# Small Dragon Boat Facing South
Boat
{
    ObjType 0x4006
    TillerMan                   0x3e4b 0 -4
    PortGangplankExtended       0x3ed4 +2 0
    PortGangplankRetracted      0x3eb2 +2 0
    StarboardGangplankExtended  0x3ed5 -2 0
    StarboardGangplankRetracted 0x3eb1 -2 0
    Hold                        0x3eb9  0 4
}

# Small Dragon Boat Facing West
Boat
{
    ObjType 0x4007
    TillerMan                   0x3e50 +4 0
    PortGangplankExtended       0x3e84 0 2
    PortGangplankRetracted      0x3e85 0 2
    StarboardGangplankExtended  0x3e89 0 -2
    StarboardGangplankRetracted 0x3e8a 0 -2
    Hold                        0x3e93 -4 0
}



#######################################################
###          Medium Boat - 0x4008 to 0x400B         ###
#######################################################
# Medium Boat Facing North
Boat
{
    ObjType 0x4008
    TillerMan                   0x3e4e 1 5
    PortGangplankExtended       0x3ed5 -2 0
    PortGangplankRetracted      0x3eb1 -2 0
    StarboardGangplankExtended  0x3ed4 2 0
    StarboardGangplankRetracted 0x3eb2 2 0
    Hold                        0x3eae 0 -4
}

# Medium Boat Facing East
Boat
{
    ObjType 0x4009
    TillerMan                   0x3e55 -5 0
    PortGangplankExtended       0x3e89 0 -2
    PortGangplankRetracted      0x3e8a 0 -2
    StarboardGangplankExtended  0x3e84 0 +2
    StarboardGangplankRetracted 0x3e85 0 +2
    Hold                        0x3e65 4 0
}

# Medium Boat Facing South
Boat
{
    ObjType 0x400A
    TillerMan                   0x3e4b 0 -5
    PortGangplankExtended       0x3ed4 +2 0
    PortGangplankRetracted      0x3eb2 +2 0
    StarboardGangplankExtended  0x3ed5 -2 0
    StarboardGangplankRetracted 0x3eb1 -2 0
    Hold                        0x3eb9  0 4
}

# Medium Boat Facing West
Boat
{
    ObjType 0x400B
    TillerMan                   0x3e50 +5 0
    PortGangplankExtended       0x3e84 0 2
    PortGangplankRetracted      0x3e85 0 2
    StarboardGangplankExtended  0x3e89 0 -2
    StarboardGangplankRetracted 0x3e8a 0 -2
    Hold                        0x3e93 -4 0
}



#######################################################
###      Medium Dragon Boat - 0x400C to 0x400F      ###
#######################################################
# Medium Dragon Boat Facing North
Boat
{
    ObjType 0x400C
    TillerMan                   0x3e4e 1 5
    PortGangplankExtended       0x3ed5 -2 0
    PortGangplankRetracted      0x3eb1 -2 0
    StarboardGangplankExtended  0x3ed4 2 0
    StarboardGangplankRetracted 0x3eb2 2 0
    Hold                        0x3eae 0 -4
}

# Medium Dragon Boat Facing East
Boat
{
    ObjType 0x400D
    TillerMan                   0x3e55 -5 0
    PortGangplankExtended       0x3e89 0 -2
    PortGangplankRetracted      0x3e8a 0 -2
    StarboardGangplankExtended  0x3e84 0 +2
    StarboardGangplankRetracted 0x3e85 0 +2
    Hold                        0x3e65 4 0
}

# Medium Dragon Boat Facing South
Boat
{
    ObjType 0x400E
    TillerMan                   0x3e4b 0 -5
    PortGangplankExtended       0x3ed4 +2 0
    PortGangplankRetracted      0x3eb2 +2 0
    StarboardGangplankExtended  0x3ed5 -2 0
    StarboardGangplankRetracted 0x3eb1 -2 0
    Hold                        0x3eb9  0 4
}

# Medium Dragon Boat Facing West
Boat
{
    ObjType 0x400F
    TillerMan                   0x3e50 +5 0
    PortGangplankExtended       0x3e84 0 2
    PortGangplankRetracted      0x3e85 0 2
    StarboardGangplankExtended  0x3e89 0 -2
    StarboardGangplankRetracted 0x3e8a 0 -2
    Hold                        0x3e93 -4 0
}




#######################################################
###          Long Boat - 0x4010 to 0x4013           ###
#######################################################
# Long Boat Facing North
Boat
{
    ObjType 0x4010
    TillerMan                   0x3e4e 1 5
    PortGangplankExtended       0x3ed5 -2 -1
    PortGangplankRetracted      0x3eb1 -2 -1
    StarboardGangplankExtended  0x3ed4 2 -1
    StarboardGangplankRetracted 0x3eb2 2 -1
    Hold                        0x3eae 0 -5
}

# Long Boat Facing East
Boat
{
    ObjType 0x4011
    TillerMan                   0x3e55 -5 0
    PortGangplankExtended       0x3e89 1 -2
    PortGangplankRetracted      0x3e8a 1 -2
    StarboardGangplankExtended  0x3e84 1 +2
    StarboardGangplankRetracted 0x3e85 1 +2
    Hold                        0x3e65 5 0
}

# Long Boat Facing South
Boat
{
    ObjType 0x4012
    TillerMan                   0x3e4b 0 -5
    PortGangplankExtended       0x3ed4 +2 1
    PortGangplankRetracted      0x3eb2 +2 1
    StarboardGangplankExtended  0x3ed5 -2 1
    StarboardGangplankRetracted 0x3eb1 -2 1
    Hold                        0x3eb9  0 5
}

# Long Boat Facing West
Boat
{
    ObjType 0x4013
    TillerMan                   0x3e50 +5 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x3e93 -5 0
}




#######################################################
###       Long Dragon Boat - 0x4014 to 0x4017       ###
#######################################################
# Long Dragon Boat Facing North
Boat
{
    ObjType 0x4014
    TillerMan                   0x3e4e 1 5
    PortGangplankExtended       0x3ed5 -2 -1
    PortGangplankRetracted      0x3eb1 -2 -1
    StarboardGangplankExtended  0x3ed4 2 -1
    StarboardGangplankRetracted 0x3eb2 2 -1
    Hold                        0x3eae 0 -5
}

# Long Dragon Boat Facing East
Boat
{
    ObjType 0x4015
    TillerMan                   0x3e55 -5 0
    PortGangplankExtended       0x3e89 1 -2
    PortGangplankRetracted      0x3e8a 1 -2
    StarboardGangplankExtended  0x3e84 1 +2
    StarboardGangplankRetracted 0x3e85 1 +2
    Hold                        0x3e65 5 0
}

# Long Dragon Boat Facing South
Boat
{
    ObjType 0x4016
    TillerMan                   0x3e4b 0 -5
    PortGangplankExtended       0x3ed4 +2 1
    PortGangplankRetracted      0x3eb2 +2 1
    StarboardGangplankExtended  0x3ed5 -2 1
    StarboardGangplankRetracted 0x3eb1 -2 1
    Hold                        0x3eb9  0 5
}

# Long Dragon Boat Facing West
Boat
{
    ObjType 0x4017
    TillerMan                   0x3e50 +5 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x3e93 -5 0
}
#######################################################
###       Galeon           - 0x404b to 0x404e       ###//Not work
#######################################################





#######################################################
###       Skiff  - 0x4050 to 0x4053                 ###
#######################################################
# Small Dragon Boat Facing North
# Small Boat Facing North
Boat
{
    ObjType 0x4050
    TillerMan                   0x3e4e 1 3
    PortGangplankExtended       0x3ed5 -2 0
    PortGangplankRetracted      0x3eb1 -2 0
    StarboardGangplankExtended  0x3ed4 2 0
    StarboardGangplankRetracted 0x3eb2 2 0
    Hold                        0x1 0 0
}

# Small Boat Facing East
Boat
{
    ObjType 0x4051
    TillerMan                   0x3e55 -3 0
    PortGangplankExtended       0x3e84 0 2
    PortGangplankRetracted      0x3e85 0 2
    StarboardGangplankExtended  0x3e89 0 -2
    StarboardGangplankRetracted 0x3e8a 0 -2
    Hold                        0x1     0 0
}

# Small Boat Facing South
Boat
{
    ObjType 0x4052
    TillerMan                   0x3e55 0 -3
    PortGangplankExtended       0x3ed4 +2 0
    PortGangplankRetracted      0x3eb2 +2 0
    StarboardGangplankExtended  0x3ed5 -2 0
    StarboardGangplankRetracted 0x3eb1 -2 0
    Hold                        0x1 0 0
}

# Small Boat Facing South
Boat
{
    ObjType 0x4053
    TillerMan                   0x3e50 3 0
    PortGangplankExtended       0x3e84 0 2
    PortGangplankRetracted      0x3e85 0 2
    StarboardGangplankExtended  0x3e89 0 -2
    StarboardGangplankRetracted 0x3e8a 0 -2
    Hold                        0x1 0 0


}