##########################################
# Drake
##########################################

NPCTemplate DrakeAir
{
        Name        <random>, the air drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     0x3d
        Color       2166
        TrueColor   2166
        Gender      0

        RunSpeed    120
	MoveMode    L
	Alignment   evil

	Strength	500
	Intelligence	300
	Dexterity	130

	HITS	500
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+50
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat

	HitScript       :weapons:hitScripts/spellstrike
	HitWithSpell    30 //Lightning
	ChanceOfEffect  80
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3

        LootIndex               15
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	115
        FoodType                meat

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i6
	CProp           PermMagicProtection    	i3
	CProp           AirProtection    	i6
}

NPCTemplate DrakeEarth
{
        Name        <random>, the earth drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     0x3d
        Color       2792
        TrueColor   2792
        Gender      0

        RunSpeed    80
	MoveMode    L
	Alignment   evil

	Strength	600
	Intelligence	300
	Dexterity	100

	HITS	500
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+75
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat

	HitScript       :weapons:hitScripts/spellstrike
	HitWithSpell    57 //Earthquake
	ChanceOfEffect  80
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3

        LootIndex               15
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	115
        FoodType                meat

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i6
	CProp           PermMagicProtection    	i3
	CProp           EarthProtection    	i6
}

NPCTemplate DrakeHeavenly
{
        Name        <random>m the heavenly drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     0x3d
        Color       1181
        TrueColor   1181
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	500
	Intelligence	300
	Dexterity	100

	HITS	500
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	120
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+50
	AttackAttribute	Wrestling

	AISetting	AreaSize	i10
	AISetting	FleeLevel	i10
	AISetting	SpellWords	i0
	AISetting	CastWait	i7
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        60

	AIScripts	drakeheavenly
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3

        LootIndex               15
        MagicLevel              5

	NameTemplate	Dragon

	TameSkill        	125
        FoodType                meat

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i6
	CProp           PermMagicProtection    	i3
}

NPCTemplate DrakeFire
{
        Name        <random>, the fire drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     0x3d
        Color       2810
        TrueColor   2810
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	500
	Intelligence	300
	Dexterity	130

	HITS	500
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+50
	AttackAttribute	Wrestling

	AISetting	AreaSize	i10
	AISetting	FleeLevel	i10
	AISetting	SpellWords	i0
	AISetting	CastWait	i7
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        60

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3

        LootIndex               15
        MagicLevel              4

	NameTemplate	Dragon

	TameSkill        	115
        FoodType                meat

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           PermMagicProtection    	i3
}

NPCTemplate DrakeFrost
{
        Name        <random>, the frost drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     0x3c
        Color       2803
        TrueColor   2803
        Gender      0

        RunSpeed    80
	MoveMode    L
	Alignment   evil

	Strength	500
	Intelligence	300
	Dexterity	100

	HITS	500
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+50
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat

	HitScript       :weapons:hitScripts/spellstrike
	HitWithSpell    76 //IceStrike
	ChanceOfEffect  80
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3

        LootIndex               15
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	115
        FoodType                meat

	CProp           Type    	sDragonkin

	CProp           PermMagicProtection    	i3
	CProp           WaterProtection    	i6
}

NPCTemplate DrakeGolden
{
        Name        <random>, the golden drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     0x3c
        Color       1062
        TrueColor   1062
        Gender      0

        RunSpeed    150
	MoveMode    L
	Alignment   evil

	Strength        500
	Intelligence	300
	Dexterity	130

	HITS	1100
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	95
	Tactics	100
	Wrestling	140
 	Magery	200

	AttackDamage	10d10+75
	AttackAttribute	Wrestling

	AISetting	AreaSize	i10
	AISetting	FleeLevel	i10
	AISetting	SpellWords	i0
	AISetting	CastWait	i7
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        60

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3

        LootIndex               15
        MagicLevel              4

	NameTemplate	Dragon

	TameSkill        	125
        FoodType                meat

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i6
	CProp           PermMagicProtection    	i3
}

NPCTemplate DrakePoison
{
        Name        <random>, the poison drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     0x3c
        Color       2791
        TrueColor   2781
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	500
	Intelligence	300
	Dexterity	100

	HITS	400
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	95
	Tactics 100
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+25
	AttackAttribute	Wrestling

	AISetting	AreaSize	i10
	AISetting	FleeLevel	i10
	AISetting	SpellWords	i0
	AISetting	CastWait	i7
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowPoison      60

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3

        LootIndex               15
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	120
        FoodType                meat

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i6
	CProp           PermMagicProtection    	i3
	CProp           PermPoisonProtection   	i6
}

NPCTemplate DrakeSkeletal
{
        Name        <random>, the skeletal drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     104
        Color       33784
        TrueColor   33784
        Gender      0

        RunSpeed    60
	MoveMode    L
	Alignment   evil

	Strength	500
	Intelligence	300
	Dexterity	100

	HITS	400
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140

	AttackDamage	10d10+50
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3
	SkinningItem    Bone           10

        LootIndex               15
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	115
        FoodType                meat

	CProp           Type    	sUndead

	CProp           FireProtection    	i6
	CProp           PermMagicProtection    	i3
	CProp           NecroProtection    	i6
}

NPCTemplate DrakeSpectral
{
        Name        <random>, the spectral drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     0x3c
        Color       0x4631
        TrueColor   0x4631
        Gender      0

        RunSpeed    140
	MoveMode    L
	Alignment   evil

	Strength	500
	Intelligence	300
	Dexterity	100

	HITS	700
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+50
	AttackAttribute	Wrestling

	AISetting	AreaSize	i10
	AISetting	FleeLevel	i10
	AISetting	SpellWords	i0
	AISetting	CastWait	i7
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        60

	AIScripts	genericSpellCombat
        
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3

        LootIndex               15
        MagicLevel              1

	NameTemplate	Dragon

	TameSkill        	120
        FoodType                meat

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i6
	CProp           PermMagicProtection    	i3
}

NPCTemplate DrakeWater
{
        Name        <random>, the water drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     0x3d
        Color       1165
        TrueColor   1165
        Gender      0

        RunSpeed    80
	MoveMode    L
	Alignment   evil

	Strength        600
	Intelligence	300
	Dexterity	100

	HITS    650
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	95
	Tactics	100
	Wrestling	140

	AttackDamage	10d10+75
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3

        LootIndex               15
        MagicLevel              1

	NameTemplate	Dragon

	TameSkill        	115
        FoodType                meat

	CProp           Type    	sDragonkin

	CProp           PermMagicProtection    	i3
	CProp           WaterProtection    	i6
}

NPCTemplate DrakeWyvern
{
        Name        <random>, the wyvern drake
        Script      :brainAI:brain
	Category    Drake

        ObjType     0x3e
        Color       0
        TrueColor   0
        Gender      0

        RunSpeed    200
	MoveMode    L
	Alignment   evil

	Strength	500
	Intelligence	300
	Dexterity	100

	HITS	800
	MANA	200
	STAM	100

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+50
	AttackAttribute	Wrestling

	HitScript       :weapons:hitScripts/spellstrike
	HitWithSpell    92 //WyvernStrike
	ChanceOfEffect  30

	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    1
	SkinningItem    SerpentScale   3

        LootIndex               15
        MagicLevel              1

	NameTemplate	Dragon

	TameSkill        	115
        FoodType                meat

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i6
	CProp           PermMagicProtection    	i3
	CProp           EarthProtection    	i6
}
