# $Id$
#
#

ICP Register
{
	Name		Fish
	Version		1.0

	Description	Fish and other smelly things

	Creator		MuadDib
	C_Email		muaddib@polserver.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	// Script	cmdlevel	path
}
