# $Id$

ICP Register
{
	Name		Magery
	Version		1

	Description Magery Skill

	Creator		tekproxy
	C_Email		tekproxy@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com
	
	// Script	cmdlevel	path
}