#
# $Id: itemdesc.cfg 754 2006-08-25 07:33:14Z austinheilman $
#

Item 0xFBB
{
	//Main Stuff
	Name		tongs
	VendorBuysFor	12
	VendorSellsFor	24

	//Scripts
	Script		:blacksmithy:makeBlacksmithItems
}

Item 0xFBC
{
	//Main Stuff
	Name		tongs2
	VendorBuysFor	12
	VendorSellsFor	24

	//Scripts
	Script		:blacksmithy:makeBlacksmithItems
}

Weapon 0x13E3
{
	//Main Stuff
	Name		smithhammer
	VendorBuysFor	12
	VendorSellsFor	24

	//Equipment Info
	MaxHP		60

	//Weapon Info
	Speed	30
	Attribute	Macefighting
	Anim		0xB
	Damage		1d3
	HitSound	0x13C
	MissSound	0x234

	//Scripts
	Script		:blacksmithy:makeBlacksmithItems
	DestroyScript	:weapons:onDestroy
	HitScript	:combat:mainHitScript

	//Custom Values
	default	1
}

Weapon 0x13E4
{
	//Main Stuff
	Name		smithhammer2
	VendorBuysFor	12
	VendorSellsFor	24

	//Equipment Info
	MaxHP		60

	//Weapon Info
	Speed	30
	Attribute	Macefighting
	Anim		0xb
	Damage		6d3
	HitSound	0x13C
	MissSound	0x234

	//Scripts
	Script		:blacksmithy:makeBlacksmithItems
	DestroyScript	:weapons:onDestroy
	HitScript	:combat:mainHitScript

	//Custom Values
	default	1
}

Weapon 0xFB4
{
	//Main Stuff
	Name		sledgehammer
	VendorBuysFor	18
	VendorSellsFor	36

	//Equipment Info
	MaxHP		80

	//Weapon Info
	Speed	25
	Attribute	Macefighting
	Anim		0xb
	Damage		4d6
	HitSound	0x13C
	MissSound	0x234

	//Scripts
	Script		:blacksmithy:makeBlacksmithItems
	DestroyScript	:weapons:onDestroy
	HitScript	:combat:mainHitScript
}

Weapon 0xFB5
{
	//Main Stuff
	Name		sledgehammer2
	VendorBuysFor	18
	VendorSellsFor	36

	//Equipment Info
	MaxHP		80

	//Weapon Info
	Speed	25
	Attribute	Macefighting
	Anim		0xb
	Damage		4d6
	HitSound	0x13C
	MissSound	0x234

	//Scripts
	Script		:blacksmithy:makeBlacksmithItems
	DestroyScript	:weapons:onDestroy
	HitScript	:combat:mainHitScript
}

Item 0x6309
{
	//Main Stuff
	Name		IronIngot
	Desc		iron ingot%s
	Graphic		7154
	Color		0
	Weight		1/10
	VendorBuysFor	4
	VendorSellsFor	8
}

Item 0x630A
{
	//Main Stuff
	Name		DullCopperIngot
	Desc		dull copper ingot%s
	Graphic		7154
	Color		1045
	Weight		1/10
	VendorBuysFor	3
}

Item 0x630B
{
	//Main Stuff
	Name		shadowIngot
	Desc		shadow ingot%s
	Graphic		7154
	Color		1109
	Weight		1/10
	VendorBuysFor	16
}

Item 0x630C
{
	//Main Stuff
	Name		CopperIngot
	Desc		copper ingot%s
	Graphic		7154
	Color		1118
	Weight		1/10
	VendorBuysFor	3
}

Item 0x630D
{
	//Main Stuff
	Name		BronzeIngot
	Desc		bronze ingot%s
	Graphic		7154
	Color		1714
	Weight		1/10
	VendorBuysFor	3
}

Item 0x630E
{
	//Main Stuff
	Name		goldenIngot
	Desc		golden ingot%s
	Graphic		7154
	Color		2214
	Weight		1/10
	VendorBuysFor	4
}

Item 0x630F
{
	//Main Stuff
	Name		AgapiteIngot
	Desc		agapite ingot%s
	Graphic		7154
	Color		1002
	Weight		1/10
	VendorBuysFor	3
}

Item 0x6310
{
	//Main Stuff
	Name		VeriteIngot
	Desc		verite ingot%s
	Graphic		7154
	Color		2207
	Weight		1/10
	VendorBuysFor	8
}

Item 0x6311
{
	//Main Stuff
	Name		ValoriteIngot
	Desc		Valorite ingot%s
	Graphic		7154
	Color		1337
	Weight		1/10
	VendorBuysFor	7
}

