# $Id$
#
#
ICP Register
{
	Name		Status Packet Hook
	Version		1.0
	Description	PacketHook for handling 0x11 Status Packets.

	Creator		MuadDib
	C_Email		muaddib@lostsoulsshard.org

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	// Script	cmdlevel	path
	
	// TextCmd	cmdlevel	path
}
