#
# $Id: pkg.cfg 891 2005-11-04 06:29:43Z muaddiblsd $
#
Enabled		1
Name		training

Version		1.0

CoreRequired	96

Creator		Austin Heilman
Email		AustinHeilman@gmail.com
Maintainer	Distro Team
Email		distro@polserver.com

#Requires none
#conflicts	none
