# $Id: icp.cfg 1054 2007-04-28 13:30:16Z tekproxy $

ICP Register
{
	Name            Meditation
	Version         1.0
	Description     Meditation Skill

	Creator         tekproxy
	C_Email         tekproxy@gmail.com

	Maintainer      Distro Team
	M_Email         distro@polserver.com
}
