# $Id: icp.cfg 87 2006-05-23 19:04:43Z sroyalty $
#
#
ICP Register
{
	Name		Message Of The Day
	Version		1.0
	Description	Message of the day system.

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	#Script	cmdlevel path

	#TextCmd	cmdlevel path
	TextCmd		0	:motd:commands/player/motd
}
