# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#

ICP Register
{
	Name		thiefgloves
	Version		1.0

	Description	Thief Gloves. Not a lot I can write on them!

	Creator		
	C_Email		

	Maintainer	*Edwards
	M_Email		Edwards@FantasiaShard.com
	
	// Script	cmdlevel	path
}
