# $Id$
#
#
Item 0x1F05
{
	//Main Stuff
	Name		beadnecklace
	VendorBuysFor	0
	VendorSellsFor	0
}

Item 0x1F06
{
	//Main Stuff
	Name		bracelet
	VendorBuysFor	0
	VendorSellsFor	0
}

Item 0x1F07
{
	//Main Stuff
	Name		earrings
	VendorBuysFor	0
	VendorSellsFor	0
}

Item 0x1F08
{
	//Main Stuff
	Name		necklace
	VendorBuysFor	0
	VendorSellsFor	0
}

Item 0x1F09
{
	//Main Stuff
	Name		ring
	VendorBuysFor	0
	VendorSellsFor	0
}

Item 0x1F0A
{
	//Main Stuff
	Name		silvernecklace
	VendorBuysFor	0
	VendorSellsFor	0
}

