# $Id$
#
#

ICP Register
{
	Name		Doors Control
	Version         2.0
	
	Description     Control package for doors.

	Creator		Austin Heilman
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com
	
	// Script	cmdlevel	path
}
