/* Panos Laganakos */

body {
	color: #000000;
	background-color: #3986AC;
	margin: 0px;

	font: 10pt verdana, sans-serif;
}


p.warning {
	color: #FF0000;
}


.null {
	color: #CCCCCC;
}

#container {
	background: #FFFFFF;
	border: 2px solid #d9e5ec;
	border-top: 1em solid #d9e5ec;
	border-bottom: 3em solid #d9e5ec;

	margin: 1em 3em 3em 3em;
	padding: 1em 1em 1em 1em;
}

#header {
	background: url('/images/header.png') no-repeat right;
	height: 69px;
}


#menu {
	background: #d9e5ec;
	margin: 0em 0em 3em 0em;
	padding: 0.5em;
}
#menu a:link {
	margin: 0em 0.5em 0em 0.5em;
}
#menu a:visited {
	margin: 0em 0.5em 0em 0.5em;
}

#footer {
	color: #c9c9c9;
	text-align: right;

	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
}
