##########################################
# Dragon
##########################################

NPCTemplate DragonCelestial
{
        Name        <random>, the celestial dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       1301
        TrueColor   1301
        Gender      0

        RunSpeed    120
	MoveMode    L
	Alignment   good

	Strength	750
	Intelligence	400
	Dexterity	150

	HITS	1000
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	120
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+100
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i10
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        50
        Spell		SpitFireBall    30

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              5

	NameTemplate	        Dragon

	TameSkill        	145
        FoodType                meat
        
        SpellRadius             7

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           PermMagicProtection    	i3
}

NPCTemplate DragonDarkness
{
        Name        <random>, the darkness dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       2864
        TrueColor   2864
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	750
	Intelligence	400
	Dexterity	150

	HITS	700
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+75
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i2
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell           BlowAcid        10
        Spell		SplitAcid       50

	AIScripts	genericSpellCombat

	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	120
        FoodType                meat

        SpellRadius             5

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           NecroProtection    	i10
	CProp           PermMagicProtection    	i3
}

NPCTemplate DragonInferno
{
        Name        <random>, tbe inferno dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       2839
        TrueColor   2839
        Gender      0

        RunSpeed    120
	MoveMode    L
	Alignment   evil

	Strength	750
	Intelligence	400
	Dexterity	150

	HITS	700
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	200

	AttackDamage	10d10+100
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i5
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        80
        Spell		SpitFireBall    40

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              4

	NameTemplate	Dragon

	TameSkill        	140
        FoodType                meat
        
        SpellRadius             7

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           PermMagicProtection    	i3
}

NPCTemplate DragonFrost
{
        Name        <random>, the frost dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       2852
        TrueColor   2852
        Gender      0

        RunSpeed    120
	MoveMode    L
	Alignment   evil

	Strength	750
	Intelligence	400
	Dexterity	130

	HITS	700
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+50
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i10
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		SpitSnowBall    30

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	140
        FoodType                meat
        
        SpellRadius             5

	CProp           Type    	sDragonkin

	CProp           WaterProtection    	i8
	CProp           PermMagicProtection    	i3
}

NPCTemplate DragonGolden
{
        Name        <random>, the golden dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       2843
        TrueColor   2843
        Gender      0

        RunSpeed    150
	MoveMode    L
	Alignment   evil

	Strength	750
	Intelligence	400
	Dexterity	170

	HITS	2100
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	12d12+100
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i10
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        50
        Spell		SpitFireBall    30

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    GoldenDragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              5

	NameTemplate	Dragon

	TameSkill        	160
        FoodType                meat
        
        SpellRadius             5

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           PermMagicProtection     i8
}

NPCTemplate DragonPoison
{
        Name        <random>, the poison dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       1290
        TrueColor   1290
        Gender      0

        RunSpeed    120
	MoveMode    L
	Alignment   evil

	Strength	750
	Intelligence	400
	Dexterity	150

	HITS	500
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+80
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i10
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowPoison      50
        Spell		SpitPoisonBall    30
        
        PoisonLevel     5
        PoisonType      DefaultPoison

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	140
        FoodType                meat
        
        SpellRadius             5

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           PermMagicProtection    	i3
        CProp           PermPoisonProtection    i10
}

NPCTemplate DragonRock
{
        Name        <random>, the rock dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       1160
        TrueColor   1160
        Gender      0

        RunSpeed    120
	MoveMode    L
	Alignment   evil

	Strength	1000
	Intelligence	400
	Dexterity	150

	HITS	1200
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+100
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i10
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        50
        Spell		RockShower      30

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	140
        FoodType                meat
        
        SpellRadius             15

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           PermMagicProtection    	i3
	CProp           EarthProtection    	i10
}

NPCTemplate DragonSand
{
        Name        <random>, the sand dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0x3b
        Color       2838
        TrueColor   2838
        Gender      0

        RunSpeed    160
	MoveMode    L
	Alignment   evil

	Strength	750
	Intelligence	400
	Dexterity	150

	HITS	1000
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+100
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i10
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        50
        Spell		SpitFireBall    30

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              4

	NameTemplate	Dragon

	TameSkill        	140
        FoodType                meat
        
        SpellRadius             5

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           EarthProtection    	i10
	CProp           PermMagicProtection    	i3
}

NPCTemplate DragonShadow
{
        Name        <random>, the shadow dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       17969
        TrueColor   17969
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	750
	Intelligence	400
	Dexterity	150

	HITS	700
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+100
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i10
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        50
        Spell		SpitFireBall    30

	AIScripts	genericSpellCombat
        
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              4

	NameTemplate	Dragon

	TameSkill        	140
        FoodType                meat
        
        SpellRadius             5

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           PermMagicProtection    	i3
        CProp           IsEthereal                i1
}

NPCTemplate DragonStorm
{
        Name        <random>, the storm dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       2860
        TrueColor   2860
        Gender      0

        RunSpeed    140
	MoveMode    L
	Alignment   evil

	Strength	750
	Intelligence	400
	Dexterity	200

	HITS	700
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+100
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i10
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		SpitThunder    50
        Spell		SorcerersBane	35

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	140
        FoodType                meat
        
        SpellRadius             15

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           PermMagicProtection    	i3
	CProp           AirProtection    	i10
}

NPCTemplate DragonSwamp
{
        Name        <random>, the swamp dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       2855
        TrueColor   2855
        Gender      0

        RunSpeed    140
	MoveMode    L
	Alignment   evil

	Strength	750
	Intelligence	400
	Dexterity	150

	HITS	700
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+100
	AttackAttribute	Wrestling

	AISetting	AreaSize	i15
	AISetting	FleeLevel	i0
	AISetting	SpellWords	i0
	AISetting	CastWait	i10
	AISetting	MinRange	i1
	AISetting	MaxRange	i10

        Spell		BlowFire        50
        Spell		SpitFireBall    30

	AIScripts	genericSpellCombat
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	140
        FoodType                meat
        
        SpellRadius             5

	CProp           Type    	sDragonkin

	CProp           FireProtection    	i10
	CProp           PermMagicProtection    	i3
}

NPCTemplate DragonTidal
{
        Name        <random>, the tidal dragon
        Script      :brainAI:brain
	Category    Dragon

        ObjType     0xc
        Color       1165
        TrueColor   1165
        Gender      0

        RunSpeed    100
	MoveMode    L
	Alignment   evil

	Strength	750
	Intelligence	400
	Dexterity	100

	HITS	1000
	MANA	200
	STAM	140

	DetectingHidden	130
	ResistingSpells	95
	Tactics	80
	Wrestling	140
 	Magery	150

	AttackDamage	10d10+30
	AttackAttribute	Wrestling

	AISetting	AreaSize	i8
	AISetting	FleeLevel	i0

	AIScripts       genericCombat
 
	HitScript       :weapons:hitScripts/spellstrike
	HitWithSpell    89 //Sorcerer's Bane
	ChanceOfEffect  100
 
	AttackHitSound    	0
	AttackMissSound    	0
	DeathSound        	0
	DamagedSound        	0
	IdleSound        	0

	IdleGraphic        	17 18
        DamagedGraphic          10 15 16
        AttackHitGraphic        4 5 6 11
        AttackCastGraphic       12

	SkinningItem    Dragonhides    2
	SkinningItem    DragonBlood    5

        LootIndex               14
        MagicLevel              3

	NameTemplate	Dragon

	TameSkill        	140
        FoodType                meat
        
        SpellRadius             5

	CProp           Type    	sDragonkin

	CProp           PermMagicProtection    	i3
	CProp           WaterProtection    	i10
}
