# $Id: icp.cfg 87 2006-05-23 19:04:43Z sroyalty $
#
#
ICP Register
{
	Name		Repair Contracts
	Version		1.0
	Description	Repair Contract deeds. Extension of Distro Crafting.

	Creator		MuadDib
	C_Email		muaddib@lostsoulsshard.org

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	#Script	cmdlevel path

	#TextCmd	cmdlevel path
}
