# $Id: repsys.cfg 720 2006-08-18 10:09:58Z austinheilman $
#
#
#####################################
# REPSYS.CFG - Reputation System Configuration
#
# Used by Core
#
#####################################

General General
{
	CriminalFlagInterval	120		# Time, in seconds, for which you will be marked criminal
	AggressorFlagTimeout	120		# Time, in seconds, for which you will be marked an aggressor
}

NameColoring NameColoring
{
	Attackable		905
	AttackableHighLight	3

	Criminal		905
	CriminalHighLight	4

	Murderer		38
	MurdererHighLight	6

	Innocent		90
	InnocentHighLight	1

	GuildAlly		68
	GuildAllyHighLight	2

	GuildEnemy		44
	GuildEnemyHighLight	5

	Invulnerable		53
	InvulnerableHighLight	7
}

HookList HookList
{
	// Handles color stuff
	NameColor		:repsys:hook/repsys:NameColor
	HighLightColor		:repsys:hook/repsys:HighLightColor

	// The real reputation processing
	OnAttack		:repsys:hook/repsys:OnAttack
	OnDamage		:repsys:hook/repsys:OnDamage
	OnHelp			:repsys:hook/repsys:OnHelp
}
