# $Id: pkg.cfg 768 2006-08-28 22:36:31Z AustinHeilman $
#
#

Enabled		1
Name		stealth

Version		1.0

CoreRequired	97

Creator		Austin Heilman
Email		AustinHeilman@gmail.com

Maintainer	*Edwards
Email		Edwards@FantasiaShard.com

#Requires	none
#Conflicts	none
