# $Id: icp.cfg 87 2006-05-23 19:04:43Z sroyalty $
#
#
ICP Register
{
	Name		Script Logger
	Version		1.0
	Description	Includes for handling Logging from scripts.

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	#Script	cmdlevel path

	#TextCmd	cmdlevel path
}
