# $Id: combat.cfg 90 2006-05-23 20:19:25Z sroyalty $
#
# Purpose:
# Defines some combat-specific options.
#
# Structure:
#
#[DisplayParrySuccessMessages	(0/1)]
#[SingleCombat			(0/1)]
#[WarmodeInhibitsRegen		(0/1)]
#[WarModeDelay			(int seconds for delay)]
#

DisplayParrySuccessMessages	0
SingleCombat			0
WarmodeInhibitsRegen		0
WarModeDelay			2