# $Id$
#
#

Item 0x002
{
	//MainStuff	
	Name		ank1a
	
	//Booleans	
	Movable		0
}

Item 0x003
{
	//MainStuff	
	Name		ank1b
	
	//Booleans	
	Movable		0
}

Item 0x004
{
	//MainStuff	
	Name		ank2a
	
	//Booleans	
	Movable		0
}

Item 0x005
{
	//MainStuff	
	Name		ank2b
	
	//Booleans	
	Movable		0
}

Item 0x1D97
{
	//MainStuff	
	Name		ank3a
	
	//Booleans	
	Movable		0
}

Item 0x1D98
{
	//MainStuff	
	Name		ank3b
	
	//Booleans	
	Movable		0
}

Item 0x1E5C
{
	//MainStuff	
	Name		ank4a
	
	//Booleans	
	Movable		0
}

Item 0x1E5D
{
	//MainStuff	
	Name		ank4b
	
	//Booleans	
	Movable		0
}

Item 0x1BD7
{
	//MainStuff	
	Name		board
	Desc		board%s%
	Weight		1/10
	VendorBuysFor	2
	VendorSellsFor	6
}

Item 0x1078
{
	//MainStuff	
	Name		hides
	Desc		hide%s%
	VendorBuysFor	2
	VendorSellsFor	4
}

Item 0x1079
{
	//MainStuff	
	Name		hides2
	Desc		hide%s%
	VendorBuysFor	2
	VendorSellsFor	4
}

Item 0x1067
{
	//MainStuff	
	Name		cutleather
	Desc		piece%s% of cut up leather
	Weight		1
	VendorBuysFor	2
	VendorSellsFor	4
	
	//Booleans	
	Movable		1
}

Item 0x1DAE
{
	//MainStuff	
	Name		Head
	Desc		head
}

Item 0x1AE2
{
	//MainStuff	
	Name		Skull
	Desc		skull
}

Item 0xE17
{
	//MainStuff	
	Name		Cards
	Desc		cards
}

Item 0x1372
{
	//MainStuff	
	Name		Brush
	Desc		brush
}

Item 0x141C
{
	//MainStuff	
	Name		OrcMask
	Desc		orc mask
}

Item 0x1D9F
{
	//MainStuff	
	Name		Torso
	Desc		torso
}

Item 0xF3F
{
	//MainStuff	
	Name		arrow
	Desc		arrow%s%
	VendorBuysFor	2
	VendorSellsFor	3
}

Item 0x1BFB
{
	//MainStuff	
	Name		bolt
	Desc		crossbow bolt%s%
	VendorBuysFor	3
	VendorSellsFor	5
}

Item 0x3946
{
	//MainStuff	
	Name		energyfield
	Facing		2
	
	//Booleans	
	Movable		0
	SaveOnExit	0
}

Item 0x1F7
{
	//MainStuff	
	Name		wallofstone
	
	//Booleans	
	Movable		0
	SaveOnExit	0
}

Item 0xF0F
{
	//MainStuff	
	Name		starsapphire
	Desc		star sapphire%s%
	Weight		1/10
	VendorBuysFor	75
	VendorSellsFor	150
}

Item 0xF10
{
	//MainStuff	
	Name		emerald
	Desc		emerald%s%
	Weight		1/10
	VendorBuysFor	60
	VendorSellsFor	120
}

Item 0xF11
{
	//MainStuff	
	Name		sapphire
	Desc		sapphire%s%
	Weight		1/10
	VendorBuysFor	60
	VendorSellsFor	120
}

Item 0xF13
{
	//MainStuff	
	Name		ruby
	Desc		rub%ies/y%
	Weight		1/10
	VendorBuysFor	45
	VendorSellsFor	90
}

Item 0xF15
{
	//MainStuff	
	Name		citrine
	Desc		citrine%s%
	Weight		1/10
	VendorBuysFor	30
	VendorSellsFor	60
}

Item 0xF16
{
	//MainStuff	
	Name		amethyst
	Desc		amethyst%s%
	Weight		1/10
	VendorBuysFor	60
	VendorSellsFor	120
}

Item 0xF18
{
	//MainStuff	
	Name		tourmaline
	Desc		tourmaline%s%
	Weight		1/10
	VendorBuysFor	45
	VendorSellsFor	90
}

Item 0xF25
{
	//MainStuff	
	Name		amber
	Desc		%pieces of% amber
	Weight		1/10
	VendorBuysFor	30
	VendorSellsFor	60
}

Item 0xF30
{
	//MainStuff	
	Name		diamond
	Desc		diamond%s%
	Weight		1/10
	VendorBuysFor	120
	VendorSellsFor	240
}

Item 0xE34
{
	//MainStuff	
	Name		blankscroll
	Desc		blank scroll%s%
	VendorBuysFor	3
	VendorSellsFor	5
}

Item 0x5015
{
	//MainStuff	
	Name		wristwatch
	Desc		wrist watch
	Graphic	0x1086
	Weight		1/10
	VendorBuysFor	15
	VendorSellsFor	30
}

Item 0x7008
{
	//MainStuff	
	Name		playervendordeed
	Desc		player vendor deed
	Graphic	0x14EF
	VendorSellsFor	1500
}

item 0xB46
{
	//MainStuff	
	Name		smvase
	Desc		small vase
	Weight		1
	VendorBuysFor	25
	VendorSellsFor	50
	
	//Booleans	
	Movable		1
}

item 0xB48
{
	//MainStuff	
	Name		smvase2
	Desc		small vase
	Weight		1
	VendorBuysFor	25
	VendorSellsFor	50
	
	//Booleans	
	Movable		1
}

item 0xB45
{
	//MainStuff	
	Name		lvase
	Desc		large vase
	Weight		5
	VendorBuysFor	50
	VendorSellsFor	100
	
	//Booleans	
	Movable		1
}

item 0xB47
{
	//MainStuff	
	Name		lvase2
	Desc		large vase
	Weight		5
	VendorBuysFor	50
	VendorSellsFor	100
	
	//Booleans	
	Movable		1
}

Item 0x1218
{
	//MainStuff	
	Name		stonechair
	Desc		stone chair
	
	//Custom Values	
	Furniture	1
}

Item 0x1219
{
	//MainStuff	
	Name		stonechai2
	Desc		stone chair
	
	//Custom Values	
	Furniture	1
}

Item 0x121A
{
	//MainStuff	
	Name		stonechai3
	Desc		stone chair
	
	//Custom Values	
	Furniture	1
}

Item 0x121B
{
	//MainStuff	
	Name		stonechair4
	Desc		stone chair
	
	//Custom Values	
	Furniture	1
}

Item 0x1201
{
	//MainStuff	
	Name		stonetable
	Desc		stone table
	
	//Custom Values	
	Furniture	1
}

Item 0x1202
{
	//MainStuff	
	Name		stonetable2
	Desc		stone table
	
	//Custom Values	
	Furniture	1
}

Item 0x1203
{
	//MainStuff	
	Name		stonetable3
	Desc		stone table
	
	//Custom Values	
	Furniture	1
}

Item 0x1204
{
	//MainStuff	
	Name		stonetable4
	Desc		stone table
	
	//Custom Values	
	Furniture	1
}

Item 0x1205
{
	//MainStuff	
	Name		stonetable5
	Desc		stone table
	
	//Custom Values	
	Furniture	1
}

Item 0x1206
{
	//MainStuff	
	Name		stonetable6
	Desc		stone table
	
	//Custom Values	
	Furniture	1
}

Item 0x1207
{
	//MainStuff	
	Name		stonebench
	Desc		stone bench
	
	//Custom Values	
	Furniture	1
}

Item 0x1208
{
	//MainStuff	
	Name		stonebench2
	Desc		stone bench
	
	//Custom Values	
	Furniture	1
}

Item 0x1209
{
	//MainStuff	
	Name		stonebench3
	Desc		stone bench
	
	//Custom Values	
	Furniture	1
}

Item 0x120A
{
	//MainStuff	
	Name		stonebench4
	Desc		stone bench
	
	//Custom Values	
	Furniture	1
}

