# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		Item Utilities
	Version		1.0
	Description	Various includes for item handling and checks.

	Creator		Distro Team
	C_Email		distro@polserver.com
	Maintainer	Distro Team
	M_Email		distro@polserver.com

	// Script	cmdlevel	path
}
