# $Id$
#
#

Spellbook 0x2252
{
	Name			PaladinSpellbook
	Gump			0xFFFF
	MinX			40
	MaxX			60
	MinY			20
	MaxY			80
	SpellType		Paladin
	Newbie			1
	BlocksCastingIfInHand	0
	RequiresAttention	0
	VendorSellsFor		22
	VendorBuysFor		11
	Weight			1
	//CanRemoveScript		:containers:container/noRemove
}