<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POLLaunch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <POLLaunch.Properties.Settings>
            <setting name="UOPath" serializeAs="String">
                <value />
            </setting>
            <setting name="POLPath" serializeAs="String">
                <value />
            </setting>
            <setting name="POLExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UOConvertExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="EcompileExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPOLTabFirst" serializeAs="String">
                <value>False</value>
            </setting>
        </POLLaunch.Properties.Settings>
    </applicationSettings>
</configuration>