# $Id: icp.cfg 891 2005-11-04 06:29:43Z muaddiblsd $
#
#
ICP Register
{
	Name		Character Profile Handler
	Version		1.0
	Description	PacketHook for handling Character Profile.

	Creator		Racalac
	C_Email		racalac@burdell.org

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	#Script	cmdlevel path

	#TextCmd	cmdlevel path
}
