# $Id$
#
#
ICP Register
{
	Name		Attributes
	Version		1.0
	Description	Handles all attribute and vital related functions in POL.

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	// Script	cmdlevel	path
	
	// TextCmd	cmdlevel	path
	TextCmd		Seer	:attributes:commands/seer/powerup
	TextCmd		Seer	:attributes:commands/seer/refresh
}
