# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#

ICP Register
{
	Name		Reagents
	Version		1.0

	Description	Reagents. Not a lot I can write on them!

	Creator		Austin Heilman
	C_Email		AustinHeilman@gmail.com

	Maintainer	*Edwards
	M_Email		Edwards@FantasiaShard.com
	
	// Script	cmdlevel	path
}
