# $Id: hitScripts.cfg 87 2006-05-23 19:04:43Z sroyalty $
#
#

Elem	WeaponHitScripts
{
	//Script 	Name		Path
	Script		FireHit		:combat:weaponHitScripts/FireHit
	Script		IceHit		:combat:weaponHitScripts/IceHit
	Script		LightningHit	:combat:weaponHitScripts/LightningHit
}

Elem	ArmorHitScripts
{

}