# {$Id}

Item 0xFEF
{
	Name			book1
	Desc			book
	Weight			1
	RequiresAttention	1
	
	Script			book/use
	CreateScript		book/onCreate
	DestroyScript		book/onDestroy
	MethodScript		book/methods
	
	NumPages		30
	IsBook			1
 
	VendorBuysFor	5
	VendorSellsFor	10
}

Item 0xFF0
{
	Name			book2
	Desc			book
	Weight			3/2
	RequiresAttention	1
	
	Script			book/use
	CreateScript		book/onCreate
	DestroyScript		book/onDestroy
	MethodScript		book/methods
	
	NumPages		40
	IsBook			1
 
	VendorBuysFor	5
	VendorSellsFor	10
}

Item 0xFF1
{
	Name			book3
	Desc			book
	Weight			1/2
	RequiresAttention	1
	
	Script			book/use
	CreateScript		book/onCreate
	DestroyScript		book/onDestroy
	MethodScript		book/methods
	
	NumPages		20
	IsBook			1
 
	VendorBuysFor	5
	VendorSellsFor	10
}

Item 0xFF2
{
	Name			book4
	Desc			book
	Weight			1
	RequiresAttention	1
	
	Script			book/use
	CreateScript		book/onCreate
	DestroyScript		book/onDestroy
	MethodScript		book/methods
	
	NumPages		30
	IsBook			1
 
	VendorBuysFor	5
	VendorSellsFor	10
}

Item 0xFF3
{
	Name			book5
	Desc			book
	Weight			1/3
	RequiresAttention	1
	
	Script			book/use
	CreateScript		book/onCreate
	DestroyScript		book/onDestroy
	MethodScript		book/methods
	
	NumPages		10
	IsBook			1
 
	VendorBuysFor	5
	VendorSellsFor	10
}

Item 0xFF4
{
	Name			book6
	Desc			book
	Weight			1/2
	RequiresAttention	1
	
	Script			book/use
	CreateScript		book/onCreate
	DestroyScript		book/onDestroy
	MethodScript		book/methods
	
	NumPages		20
	IsBook			1
 
	VendorBuysFor	5
	VendorSellsFor	10
}
