# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
	Name		Accounts
	Version		1.0
	Description	Handles account related tasks. Monitoring, creation, etc. [P]
	Description	Auto-account packet hook thanks to Unreal!

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer      *Edwards
	M_Email		Edwards@FantasiaShard.com

	// Script	cmdlevel	path
}
