#
# $Id: pkg.cfg 85 2006-05-23 18:41:38Z sroyalty $
#
Enabled		1
Name		lumberjacking

Version		1.0

CoreRequired	96

Creator		Austin Heilman
Email		AustinHeilman@gmail.com

Maintainer	Distro Team
Email		distro@polserver.com

#Requires none
#conflicts	none
