/* $Id: pkg.cfg 259 2006-06-06 23:53:48Z austinheilman $
 *
 *
 */
Enabled		1
Name		guilds

Version		1.0

CoreRequired	97

Creator		MontuZ
Email		MontuZ@Gmail.com

Maintainer	Distro Team
Email		distro@polserver.com

#Requires	none
#Conflicts	none