# $Id$
#
#

ICP Register
{
	Name		Games
	Version		1.0

	Description	Contains game boards like chess, backgammon, checkers, etc.

	Creator		Austin Heilman
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com
	
	// Script	cmdlevel	path
}
