# $Id$
#
########################################################
#
# Each spawn group gets 1 elem and lists npcs or item numbers/names and the engine to use
# Group <Group Name>
# {
# 	Engine	npcFill
#	Entry	Skeleton
# }
# Group <Group Name>
# {
#	Engine	Item
#	Entry	MandrakeRoot
#	Entry	0xF8D	// Spider Silk
# }
#
########################################################

Group Simple_Swamp
{
	Engine	npcFill
	Entry	Slime
	Entry	Mongbat
	Entry	Aligator
}

Group ForestAnimals_1
{
	Engine	npcFill
	Entry	Bird
	Entry	Cat
	Entry	Pig
	Entry	Cow
}

Group ForestAnimals_2
{
	Engine	npcFill
	Entry	GreatHart
	Entry	Deer
	Entry	Bull
	Entry	Horse
}