# $Id$
#
#
ICP Register
{
	Name		Spawn System
	Version		1.0
	Description	Extremely modular spawner system. Spawning is engine based.

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Austin
	M_Email		AustinHeilman@gmail.com

	#Script	cmdlevel path

	#TextCmd	cmdlevel path
	TextCmd		3 :spawnsystem:textcmd/GM/spawner
}