# $Id$
#
#
#Alter the number below to define how long a whole day, day, night
#and transitions are (from light to dark or dark to light) in minutes.

DayConfig WholeDay
{
	Length	60
}

DayConfig Transition
{
	Length	5
}

#This value is contrained to between 10 and 50. It will default to
#30 if it is not within those values.
DayConfig Night
{
	Length	30
}

DayConfig Trammel
{
	Length	60
}

DayConfig Felucca
{
	Length	20
}
