# $Id: icp.cfg 87 2006-05-23 19:04:43Z sroyalty $
#
#
ICP Register
{
	Name		Accounts
	Version		1.0
	Description	Handles account related tasks. Monitoring, creation, etc. [P]
	Description	Auto-account packet hook thanks to Unreal!

	Creator		Austin
	C_Email		AustinHeilman@gmail.com

	Maintainer	Distro Team
	M_Email		distro@polserver.com

	#Script	cmdlevel path

	#TextCmd	cmdlevel	path
	TextCmd		3 		:accounts:commands/GM/acctinfo
	TextCmd		4 		:accounts:commands/admin/newaccount
}
