# $Id: pkg.cfg 373 2006-06-17 18:27:33Z austinheilman $
#
#
Enabled         0
Name		AOS
Maintainer      Distro Team
Email           distro@polserver.com
Version         1.0
CoreRequired    97
conflicts	uor
conflicts	lbr