# $Id: icp.cfg 436 2006-06-25 02:51:50Z austinheilman $
#
#
ICP Register
{
        Name            Crafting Base
        Version         1.5
        Description     Main packaged include files for the Crafting Backbone.

        Creator         MuadDib
        C_Email         muaddib@lostsoulsshard.org

        Maintainer      *Edwards
        M_Email         Edwards@FantasiaShard.com

        // Script	cmdlevel	path
}
