# $Id$

Enabled		0
Name		Chat

Version		0.2

CoreRequired	96

Creator		tekproxy
Email		tekproxy@gmail.com

Maintainer	Distro Team
Email		distro@polserver.com

#Requires	none
#Conflicts	none
