# $Id: itemdesc.cfg 87 2006-05-23 19:04:43Z sroyalty $
#
#

Spellbook 0x2253
{
	Name			NecroSpellbook
	Gump			0xFFFF
	MinX			40
	MaxX			60
	MinY			20
	MaxY			80
	SpellType		Necro
	Newbie			1
	BlocksCastingIfInHand	0
	RequiresAttention	0
	VendorSellsFor		22
	VendorBuysFor		11
	Weight			1
	//CanRemoveScript		:containers:container/noRemove
}
