# $Id: pkg.cfg 984 2005-11-14 09:02:34Z muaddiblsd $
#
#

Enabled		1
Name		acid

Version		1.0

CoreRequired	96

Creator		MuadDib
Email		muaddib@lostsoulsshard.org
Maintainer	Distro Team
Email		distro@polserver.com

#Requires none
#conflicts	none
